@font-face {
  font-family: 'YOU';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/YOU.ttf') format('truetype');
}

@font-face {
  font-family: 'US Angel';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/usangel.ttf') format('truetype');
}

@font-face {
  font-family: 'The Amazing Spider-Man';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/The%20Amazing%20Spider-Man.ttf') format('truetype');
}

@font-face {
  font-family: 'Spongebob';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Spongebob.ttf') format('truetype');
}

@font-face {
  font-family: 'Soulmate';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Soulmate.ttf') format('truetype');
}

@font-face {
  font-family: 'Sayyeda';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Sayyeda.ttf') format('truetype');
}

@font-face {
  font-family: 'Qetod';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Qetod.ttf') format('truetype');
}

@font-face {
  font-family: 'Power Rangers';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Power%20Rangers.ttf') format('truetype');
}

@font-face {
  font-family: 'Plain Black Wide';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Plain%20Black%20Wide.ttf') format('truetype');
}

@font-face {
  font-family: 'One Piece';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/one%20piece%20font.ttf') format('truetype');
}

@font-face {
  font-family: 'Old English Five';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/old-english-five.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ninja Naruto';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/ninja-naruto.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mostwasted';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Mostwasted.ttf') format('truetype');
}

@font-face {
  font-family: 'Marvel';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Marvel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Impostograph';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Impostograph-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Homoarakhn';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/homoarakhn.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Harry Potter';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/HarryPotter-ov4z.ttf') format('truetype');
}

@font-face {
  font-family: 'Genshin Impact DRIP FONT';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Genshin%20Impact%20DRIP%20FONT.ttf') format('truetype');
}

@font-face {
  font-family: 'Game of Thrones';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Game%20of%20Thrones.ttf') format('truetype');
}

@font-face {
  font-family: 'Gabriel';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/gabriel.ttf') format('truetype');
}

@font-face {
  font-family: 'Fette Classic UNZ Fraktur';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/FetteClassicUNZFraktur.ttf') format('truetype');
}

@font-face {
  font-family: 'Ditty';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/Ditty.ttf') format('truetype');
}

@font-face {
  font-family: 'Death Font';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/death-font.ttf') format('truetype');
}

@font-face {
  font-family: 'CrushNBurn';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/CrushNBurn-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cloister Black';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/CloisterBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'ARB 85 Poster Script';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/ARB%2085%20Poster%20Script%20JAN-39%20FRE.ttf') format('truetype');
}

@font-face {
  font-family: 'Among Us';
  src: url('https://cdn.jsdelivr.net/gh/kunalmaurya-17-24/sparkel_god@main/AmongUs-Regular.ttf') format('truetype');
}

